# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Debug / logs
backend/debug_proteins.txt
backend/__pycache__/
debug_proteins.txt

# Jupyter
.ipynb_checkpoints/
__pycache__/main.cpython-314.pyc
__pycache__/main.cpython-314.pyc
